/*@import "normalize.css";*/
/* Theme CSS */
@import "theme.css";
@import "theme-elements.css";
@import "theme-blog.css";
@import "theme-shop.css";

/* Vendor CSS */
@import "bootstrap.min.css";
@import "all.min.css";
@import "animate.compat.css";
@import "simple-line-icons.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";
@import "magnific-popup.min.css";


/* Custom css */
@import "custom.css";


@import "skins/default.css";
